@media screen and (min-width:296px) {
    .logo{
        width: 80%;
        height: 10%;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__phone{
        color: white;
    }
    .main-header__contactInfo__address {
        color: white;
    }
    .main-nav{
        background: rgba(0,0,0,0.85);
    }
    .banner{
        margin-top: -260px;
        z-index: -1000;
    }
    .banner__img{
        height: 600px;
    }
    .banner .banner__contenido{
        font-size: 1.5em; 
        margin-top: 55px;
    }
    .main{
        padding-bottom: 15px;
    }
    .main__descripcion .column:nth-child(2){
        padding-left: 20px;
        font-size: .9em;
    }
    .main__descripcion .btn{
        margin: 0;
    }
    .tienda-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 1px;
    }
    .tienda__item{
        border: 5px solid rgb(249, 190, 190);
        padding: 5px;
    }
    .tienda__img{
        width: auto;
        height: auto;
        object-fit: cover;
    }
    .tienda__txt{
        font-size: 1em;
    }
    .tienda__precio{
        font-size: 1.2em;
    }
    .diseno-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 1px;
    }
    .diseno__item{
        border: 5px solid rgb(180, 211, 222);
        padding: 5px;
    }
    .diseno__img{
        width: auto;
        height: auto;
        object-fit: cover;
    }
    .diseno__txt{
        font-size: 1em;
    }
    .btn-tienda {
        width: 100px;
        font-size: 12px;
        padding: 5px;
    }
    .main-footer .container--flex {
        align-items: flex-start;
    }
    .parrafo-footer{
        font-size: 0.8em;
        line-height: 35px;
    }
    .titulo-footer-1 .titulo-footer-2 .titulo-footer-3 {
        font-size: 5px;
    }
    .appWhatsapp {
        right: 0;
    }
    .appWhatsapp img {
        width: 40px;
    }
    .column--50 {
        width: 49%;
    }
    .column--50-25 {
        width: 49%;
    }
    .column--33 {
        width: 32%;
    }
    .movil {
        min-width: 140px;
        object-fit: cover;
    }
    .contenido-todo{
        width: 90px;
        perspective: 10000px;
        margin-bottom: 100px;
    }
    .contenido-carrusel figure{
        height: 60px;
    }
    .contenido-carrusel figure:nth-child(1){transform: rotateY(0deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(2){transform: rotateY(40deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(3){transform: rotateY(80deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(4){transform: rotateY(120deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(5){transform: rotateY(160deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(6){transform: rotateY(200deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(7){transform: rotateY(240deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(8){transform: rotateY(280deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(9){transform: rotateY(320deg) translateZ(140px);}
    .contenido-carrusel figure:nth-child(10){transform: rotateY(360deg) translateZ(140px);}
}
@media screen and (min-width:480px) {
    .logo{
        width: 48%;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__phone{
        color: white;
    }
    .main-header__contactInfo__address {
        color: white;
    }
    .main-nav{
        background: rgba(0,0,0,0.85);
    }
    .banner{
        margin-top: -200px;
        z-index: -1000;
    }
    .banner__img{
        height: 600px;
    }
    .banner .banner__contenido{
        font-size: 2.3em;
    }
    .main{
        padding-bottom: 15px;
    }
    .main__descripcion .column:nth-child(2){
        padding-left: 20px;
        font-size: .9em;
    }
    .main__descripcion .btn{
        margin: 0;
    }
    .tienda-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .tienda__item{
        border: 5px solid rgb(249, 190, 190);
        padding: 5px;
    }
    .diseno-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .diseno__item{
        border: 5px solid rgb(180, 211, 222);
        padding: 5px;
    }
    .main-footer .container--flex {
        align-items: flex-start;
    }
    .parrafo-footer{
        font-size: 1em;
    }
    .appWhatsapp {
        right: 0;
    }
    .column--50 {
        width: 49%;
    }
    .column--50-25 {
        width: 49%;
    }
    .column--33 {
        width: 32%;
    }
    .contenido-todo{
        width: 150px;
        perspective: 10000px;
        margin-bottom: 150px;
    }
    .contenido-carrusel figure{
        height: 100px;
    }
    .contenido-carrusel figure:nth-child(1){transform: rotateY(0deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(2){transform: rotateY(40deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(3){transform: rotateY(80deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(4){transform: rotateY(120deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(5){transform: rotateY(160deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(6){transform: rotateY(200deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(7){transform: rotateY(240deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(8){transform: rotateY(280deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(9){transform: rotateY(320deg) translateZ(215px);}
    .contenido-carrusel figure:nth-child(10){transform: rotateY(360deg) translateZ(215px);}
}
@media screen and (min-width:768px){
    .logo {
        width: 33%;
    }
    .main__titulo{
        font-size: 2.2em;
    }
    .main__descripcion{
        margin-top: 30px;
    }
    .main__descripcion .column--50:nth-child(2){
        font-size: 1em;
    }
    .main__descripcion .column--50:nth-child(2) .column__txt{
        line-height: 30px;
    }
    .column--50-25 {
        width: 24.5%;
    }
    .column__titulo {
        font-size: 1em;
    }
    .grupo-titulo {
        font-size: 2.2em;
    }
    .nosotros-equipo__img{
        width: 220px;
        height: 220px;
    }
    .tienda-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .tienda__txt {
        font-size: 1.5em;
    }
    .diseno-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .diseno__txt {
        font-size: 1.5em;
    }
    .tienda__precio{
        font-size: 1.6em;
    }
    .appWhatsapp img {
        width: 50px;
    }
    .contenido-todo{
        width: 200px;
        perspective: 1000px;
        margin-bottom: 250px;
    }
    .contenido-carrusel figure{
        height: 120px;
    }
    .contenido-carrusel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
    .contenido-carrusel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}
}
@media screen and (min-width:1024px){
    .container{
        width: 1000px;
    }
    .logo{
        width: 25%;
    }
    .main-header__contactInfo__phone, .main-header__contactInfo__address{
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav{
        padding: 0;
    }
    .banner__img{
        height: 700px;
    }
    .banner .banner__contenido{
        font-size: 2.9em;
    }
    .icon-menu{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link{
        padding: 20px;
    }
    .grupo__color .cotainer{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__depcripcion .column--50:nth-child(2) .column__txt{
        line-height: 50px;
    }
    .diseno-especial__titulo{
        font-size: 1.4em;
    }
    .nosotros-equipo__img{
        width: 300px;
        height: 300px;
    }
    .nosotros-equipo__titulo{
        font-size: 2em;
    }
    .tienda-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .tienda__txt {
        font-size: 1.6em;
    }
    .diseno-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .diseno__txt {
        font-size: 1.6em;
    }
    .tienda__precio{
        font-size: 1.7em;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contenido-todo {
        margin-bottom: 300px;
    }
}
@media screen and (min-width:1600){
    .container{
        width: 1400%;
    }
    .banner__img{
        height: 800px;
    }
    .main__depcripcion .column--50:nth-child(1) img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .nosotros-equipo__img{
        width: 420px;
        height: 420px;
    }
}